<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486125097535-9eag5mlfu0ctjarbnb5tmhprkd3vh1un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486125097535-9eag5mlfu0ctjarbnb5tmhprkd3vh1un</string>
	<key>API_KEY</key>
	<string>AIzaSyA3zCiCFq-WDqSwNXPL1JZY1d3f1A4Tx78</string>
	<key>GCM_SENDER_ID</key>
	<string>486125097535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghav.pushingNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotif-ce314</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotif-ce314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486125097535:ios:e2823cb7b625ecea671e8a</string>
</dict>
</plist>